<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer_rating.css') }}">
    <script src="{{ url_for('static', filename='frontend_scripts/customer_rating.js') }}"></script>
    <title>Title</title>
</head>
<body>

    <!-- Star Images -->
    <div class= "stars">
    {% for i in range(10) %}
    <img src="{{ url_for('static',filename='assets/rating_unfilled.png') }}" width="50" height="50" id="star_{{i}}">
    {% endfor %}
    </div>

</body>
</html>