<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/launch.css') }}">
    <!-- Bootstrap Version -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Icons and Fonts -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <h1>SOTERIA</h1>
        <h2>A powerful, free tool at the tip of your fingertips.</h2>
        <h3>Redefining pen-testing.</h3>
        <a href="signup-options">
            <button class="begin">
                <div style="width: 100%; height: 100%; background: linear-gradient(90deg, rgba(68, 255, 210, 0.45) 0%, rgba(103, 146, 137, 0.71) 100%); border-radius: 29px; border: 1px #F3EEEE solid">
                    <div style="width: 100%; height: 100%; text-align: center; color: white; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; letter-spacing: 15.20px; word-wrap: break-word">BEGIN</div>
                </div>
            </button>
        </a>
    </div>
</body>
</html>
