@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", sans-serif;
}
body {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(245deg,#071e22,#1d7874,#d85461) !important;
    animation: gradient-animation 18s ease infinite;
}

.navbar {
    background-color: #000; /* Black background */
    border-bottom: 2px solid #fff; /* White border at the bottom */
    width: 100%; /* Ensure it spans full width */
}

.navbar-nav {
    flex-direction: row;
}

.navbar .navbar-brand {
    color: #fff !important;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fff !important;
    display: block !important;
}
